section.education {
    flex-direction: column;
}

img.um-logo {
    max-width: 30rem;
    border-radius: 20%;
}

.education-degree {
    font-weight: bolder;
    font-size: 2rem;
    margin: 1.5rem 0;
}

.education-dates {
    font-size: 1.5rem;
    justify-content: flex-end;
}

.education-school-name {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
}

.education-location {
    font-style: italic;
    font-size: 1.5rem;
}
